@import "https://fonts.googleapis.com/css?family=Roboto:300";
/* line 1, ../scss/base/_base.scss */
body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  background: #1F222A;
}

/* line 2, ../scss/layout/_grid.scss */
.container {
  padding-top: 3em;
  padding-right: 18.75em;
  padding-bottom: 0;
  padding-left: 18.75em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  /* line 2, ../scss/layout/_grid.scss */
  .container {
    padding: 0;
  }
}

/* line 1, ../scss/module/_card.scss */
.card-light {
  position: relative;
  width: 500px;
  max-height: 700px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.5);
  background: white;
  color: black;
}
@media only screen and (max-width: 500px) {
  /* line 1, ../scss/module/_card.scss */
  .card-light {
    width: 100%;
  }
}

/* line 16, ../scss/module/_card.scss */
.card-container {
  padding: 20px;
  border: none;
}

/* line 21, ../scss/module/_card.scss */
.card-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 300;
}

/* line 29, ../scss/module/_card.scss */
.card-word:first-letter {
  text-transform: uppercase;
}

/* line 34, ../scss/module/_card.scss */
.card-img {
  width: inherit;
  margin-bottom: -5px;
}

/* line 39, ../scss/module/_card.scss */
.card-container-img {
  width: inherit;
  height: auto;
  border: none;
}

/* line 45, ../scss/module/_card.scss */
.card-logo-weather {
  position: absolute;
  bottom: -5px;
  right: 10px;
  font-family: "ico", sans-serif;
  font-size: 125px;
  color: #c0364d;
}

/* line 4, ../scss/module/_searchbox.scss */
.search-form input[type="submit"] {
  display: none;
}
/* line 8, ../scss/module/_searchbox.scss */
.search-form .search-form-bar {
  font-size: 35px;
  border: none;
  padding: 20px;
}
/* line 12, ../scss/module/_searchbox.scss */
.search-form .search-form-bar:active {
  border: none;
}

@font-face {
  font-family: 'ico';
  src: url("../fonts/artill_clean_icons.otf");
  font-weight: normal;
  font-style: normal;
}
