$bc-color: #1F222A;
$ico-color: #c0364d;

@import 'compass';
@import 'base/base';
@import 'layout/grid';
@import 'module/weather';
@import 'module/searchbox';
@import 'https://fonts.googleapis.com/css?family=Roboto:300';
@font-face {
    font-family: 'ico';
    src: url('../fonts/artill_clean_icons.otf');
    font-weight: normal;
    font-style: normal;
}