@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?funqbd');
  src:  url('fonts/icomoon.eot?funqbd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?funqbd') format('truetype'),
    url('fonts/icomoon.woff?funqbd') format('woff'),
    url('fonts/icomoon.svg?funqbd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weather-night:before {
  content: "\e900";
}
.icon-weather-sunny:before {
  content: "\e901";
}
.icon-weather-windy-cloudy:before {
  content: "\e902";
}
.icon-weather-downpour:before {
  content: "\e903";
}
.icon-weather-partly-sunny:before {
  content: "\e904";
}
.icon-weather-shower:before {
  content: "\e905";
}
.icon-weather-stormy:before {
  content: "\e906";
}
.icon-cloud-storage:before {
  content: "\e907";
}
.icon-weather-windy:before {
  content: "\e908";
}
.icon-weather-cloudy:before {
  content: "\e909";
}
.icon-weather-snow:before {
  content: "\e90a";
}

