.card-light {
    position: relative; 
    width: 500px;
    max-height: 700px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.5);

    background: white;
    color: black;
    @media only screen and ( max-width: 500px) {
        width: 100%;
    }
}

.card-container {
    padding: 20px;
    border: none;
}

.card-title {
    margin: 0;
    margin-bottom: 5px;

    font-size: 24px;
    font-weight: 300;
}

.card-word:first-letter {
    text-transform: uppercase;
}


.card-img {
    width: inherit;
    margin-bottom: -5px;
}

.card-container-img {
    width: inherit;
    height: auto;
    border: none;
}

.card-logo-weather {
    position: absolute;
    bottom: -5px;
    right: 10px;

    font-family: "ico", sans-serif;
    font-size: 125px;
    color: $ico-color;
}
